* {
  box-sizing: border-box;
  background-color: #f8f9fa;
  background-repeat: no-repeat;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

main {
  background-color: #f8f9fa;
  padding-bottom: 3em;
}

#logo {
  width: 60px;
  border-radius: 50%;
}
#text {
  padding-top: 12px;
}
.nav-item {
  margin-right: 1em;
  margin-left: 1em;
}

.nav-link {
  font-family: 'League Spartan', sans-serif;
  font-size: 18px !important;
}

header h1 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}
header h2 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

header .container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.carousel carousel-dark {
  width: 70% !important;
}

.container1,
.container2 {
  padding-top: 2em;
  width: 60%;
  height: 100%;
  margin: auto;
}

.container2 {
  background-color: #dad8d8;
  width: 100%;
  padding: 3em 13em;
  margin-top: 2em;
}

#conteudo-container2 {
  margin-left: 1em;
  padding: 2em;
  border-radius: 10px;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

section h2 {
  font-size: 3em;
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f4e9e7;
  margin-bottom: 0.5em;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #dad8d8;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #dad8d8;
}

label {
  color: #555;
  display: block;
  margin-bottom: 0.2em;
}

input {
  width: 5em;
  justify-content: space-around;
}

.campo {
  margin: 0;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.7em;
  width: 100%;
}

.campo-medio {
  display: inline-block;
  padding-right: 0.5em;
}

.grupo {
  width: 100%;
  display: inline-block;
  padding: 10px 0px;
}

button {
  padding: 0.5em 2em;
  border: 0;
  border-bottom: 3px solid;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  margin-top: -3px;
  color: #fff;
  background-color: #0c8cd3;
  border-color: #04324c;
  width: 20%;
  display: block;
  clear: both;
  margin: 10px 0px;
}

button:active {
  margin-top: 0px;
  border: 0;
}

button[disabled='disabled'],
button:disabled {
  background-color: gray;
  border-color: darkgray;
}

.adicionar-aluno {
  margin-top: 30px;
}

.campo-invalido {
  border: 1px solid red;
}
.botao1 {
  padding-left: 1px;
}
#mensagem-erro {
  color: red;
  font-size: 1em;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}
.invisivel {
  display: none;
}

#meu-container {
  display: none;
}

footer {
  background-color: #f8f9fa;
  padding: 3em;
}

.icons-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#icons {
  margin: 0 2em;
}
